body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgba(0, 0, 128, 0.9); /* Navy blue with opacity */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.hidden {
    display: none;
}

h1, p {
    margin: 20px 0;
}

button {
    background-color: white;
    color: rgba(0, 0, 128, 0.9);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e0e0e0;
}

.gift-options {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.box {
    width: 320px; /* Width similar to YouTube video ratio */
    height: 180px; /* Height similar to YouTube video ratio */
    background-color: white;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

.box:hover {
    transform: scale(1.05);
}

.box:before, .box:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;
    background: white;
    opacity: 0.5;
    filter: blur(20px);
    border-radius: 50%;
}

.box:before {
    left: -20px;
}

.box:after {
    right: -20px;
}

.final-step p, .final-step select
